.sidebar {
  background-color: #f7f9fa;
  height: 95vh;
  box-shadow: 0px 35px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding: 8px;
  overflow: auto;
}
.dragAble_input_node {
  /* background-color: coral; */
  border: 1px solid blue;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.dragAble_input_node:hover {
  border: 3px solid blue;
  cursor: grab;
}
.dragAble_default_node {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.dragAble_default_node:hover {
  border: 3px solid black;
  cursor: grab;
}
.dragAble_output_node {
  border: 1px solid red;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.dragAble_special_node {
  border: 1px solid green;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.dragAble_special_node:hover {
  border: 3px solid green;
  cursor: grab;
}
.dragAble_output_node:hover {
  border: 3px solid red;
  cursor: grab;
}
.arrow {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.curved {
  width: 30%;
  height: auto;
}
.line {
  width: 30%;
  height: auto;
  border: 1px solid black;
  border-radius: 3px;
}
.line:hover {
  transform: scale(1.1);
  border: 2px solid black;
  border-radius: 3px;
}
.animation {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.curved:hover {
  transform: scale(1.1);
  border: 1px solid black;
  border-radius: 3px;
}

.text_bg {
  display: flex;
  flex-direction: column;
}
.node_label {
  margin-bottom: 1px !important;
  margin-top: 1px !important;
}
.bg_color {
  width: 100%;
  border-radius: 3px;
}
.bg_color:hover {
  cursor: pointer;
}
.hideElements {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.switchHide {
  top: -6px !important;
}

.font_style {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.edit_text_style {
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px 7px 4px 7px;
}
.edit_text_style:hover {
  background-color: lightblue;
}
.font_size {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
}
.edit_text_size {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
}
.edit_text_size:hover {
  background-color: lightblue;
}
.font_increase_decrease {
  display: flex;
  flex-direction: row;
}
.capital {
  width: 25px;
  margin-left: 5px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
}
.capital:hover {
  /* border-radius: 2px; */
  background-color: lightblue;
}

.captureImage {
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
}
.upper_lower {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.node_label {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}
.border {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .borderWidth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
  }
   .borderWidthButton {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    font-size: 25px;
  } 
  .borderWidthButton:hover {
    background-color: lightblue;
  }
  .borderWidthButton:active {
    background-color: lightseagreen;
  } 
  .borderFont {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .font_style {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .lineStyle {
    width: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  .lineStyle:active {
    border: 1px solid black;
    border-radius: 3px;
  }
  .lineStyle:hover {
    border: 1px solid black;
    border-radius: 3px;
  }
  .normal {
    width: 21px;
    margin-left: 5px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 2px;
  }
  .normal:hover {
    background-color: lightblue;
  }
  .edit_text_style {
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 7px 4px 7px;
  }
  .edit_text_style:hover {
    background-color: lightblue;
  }
  .lineStyle1{
    width: 40px;
  }
  
  .lineStyle1:active {
    border: 1px solid black;
    border-radius: 3px;
  }
  .lineStyle1:hover {
    border: 1px solid black;
    border-radius: 3px;
  }
  .hideElements {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .switchHide {
    top: -6px !important;
  }
  .arrow {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .curved {
    width: 21%;
    height: auto;
  }
  .curved:hover {
    transform: scale(1.1);
    border: 1px solid black;
    border-radius: 3px;
  }
  .animation {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .line {
    width: 30%;
    height: auto;
    border: 1px solid black;
    border-radius: 3px;
  }
  .line:hover {
    transform: scale(1.1);
    border: 2px solid black;
  }
  
  .arrow_head:hover{
      cursor: pointer;
  }
  /**************** Multi Tab **********/
  /* .multiTabs{
    background-color: #f7f9fa;
    height: 95vh;
    box-shadow: 0px 35px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    padding: 10px;
    overflow: auto;
} */
.create_button:hover{
  color: #00c853;
}
.delete_button:hover{
  color: #e53935;
}
.tab{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}
.tab:hover{
  background-color:rgb(228, 238, 240);
  cursor: pointer;
}


.css-13xfq8m-MuiTabPanel-root{
padding: 0px !important;

}
/* .css-ybol96-MuiButtonBase-root-MuiTab-root{
min-width: 0px !important;
padding: 0px !important;
} */
.css-1t4lqmc-MuiButtonBase-root-MuiTab-root{
min-width: 0px !important;
padding: 0px !important;
min-height: 0px !important;
}
.css-heg063-MuiTabs-flexContainer{
display: flex !important;
justify-content: space-between !important;
}
.css-76q8hu-MuiTabs-root {
  min-height: 28px !important;
  
}
.MuiOutlinedInput-input{
  padding: 8.5px !important;
  /* padding: 12px !important; */
}

.react-flow__node-special{
border-width: 1px;
border-color: green;
border-style: solid;
width: 150px;
text-align: center;
padding: 10px;
border-radius: 4px;
background-color: #ffff;
font-size: 12px;
}
.react-flow__node-special:hover{
  box-shadow: 0 0 0 0.5px ;
  border-width: 3px;
}

.smartLineStyle{
border: 1px solid rgb(134, 134, 134);
border-radius: 4px;
padding: 5px 5px 5px 5px;
margin-top: 10px;
}
.smartLineStyle:hover{
  border: 1px solid #1c7ddd ;
  
  
}
