.edgebutton{
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    line-height: 1;
    width: 31px;
    padding: 0px;
}
.MuiSvgIcon-root{
width: 0.7em !important;
}
.arrow_type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.arrow{
    width: 20%;
    height: auto;
}
